/* Bootstrap override! */

h1 {
    font-family: Georgia,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1e3b87;
    font-size: 36pt;
}

h2 {
    font-family: Georgia,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #d9b574;
}

p {
    font-family: Georgia,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
    background-color: #d9b574;
    padding: 20px;
    margin: 10px;
}

jumbotron {
    background: url("'../Images/gold star.png'");
    background-size: 100% 100%;
    
}

.blue {color: #1e3b87;}

.gamePod {
    position: relative;
    display: block;
    padding: 14px 19px;
    margin: 0 6.5px 13px 6.5px;
    border: 1px solid #cccccc;
    /*background-color: #ffffff;*/
    border-color: #1e3b87;
    box-sizing: border-box;
    overflow: hidden;
    min-height: 1rem;
    font: 0.75rem "Geogrotesque","Rockwell",Georgia,Times,"Times New Roman",serif;
    text-transform: uppercase;
}

.gamePod_content
.gamePod_content-pod_container {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;
}



.gamePod .gamePod-description {
    min-height: 1rem;
    font: 0.75rem "Geogrotesque","Rockwell",Georgia,Times,"Times New Roman",serif;
    color: #7D7F81;
    /*color: black;*/ /*attempt to change some color*/
    text-transform: uppercase;
}

.gamePod .gamePod-game-teams {
    display: block;
    clear: both;
    list-style-type: none;
    margin: 13px 0 2px 0;
    padding: 0;
 }

.gamePod .gamePod-game-teams li .gamePod-game-team-rank {
    width: 20px;
    flex-shrink: 0;
    padding: 4px 0 0 0;
    font: 0.75rem "Geogrotesque","Rockwell",Georgia,Times,"Times New Roman",serif;
    text-align: right;
}

.gamePod .gamePod-game-teams li .gamePod-game-team-name {
    align-self: stretch;
    margin: 2px auto auto 0;
    font: 0.875rem "Geogrotesque","Rockwell",Georgia,Times,"Times New Roman",serif;
}

.gamePod .gamePod-game-teams li .gamePod-game-team-score {
    display: none;
    align-self: flex-end;
    margin: 0 0 auto 10px;
    font: 0.875rem "Geogrotesque","Rockwell",Georgia,Times,"Times New Roman",serif;
}

/*trying a new css style*/
@import url(http://fonts.googleapis.com/css?family=Capriola);

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    font-family: Capriola, Helvetica, sans-serif;
}

#cssmenu {
    width: auto;
    height: 59px;
    padding-bottom: 4px;
    background-color: black;
}

    #cssmenu.align-right {
        float: right;
    }

        #cssmenu.align-right ul li {
            float: right;
            margin-right: 0;
            margin-left: 4px;
        }

            #cssmenu.align-right ul li:first-child,
            #cssmenu.align-right ul li:first-child > a {
                border-bottom-right-radius: 3px;
            }

    #cssmenu #bg-one,
    #cssmenu #bg-two,
    #cssmenu #bg-three,
    #cssmenu #bg-four {
        position: absolute;
        bottom: 0;
        width: 100%;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    #cssmenu #bg-one {
        height: 10px;
        background: #0f71ba;
    }

    #cssmenu #bg-two {
        height: 59px;
        z-index: 2;
        background: url('images/bg.png');
    }

    #cssmenu #bg-three {
        bottom: 4px;
        height: 55px;
        z-index: 3;
        background: #222222;
        background: -moz-linear-gradient(top, #555555 0%, #222222 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555555), color-stop(100%, #222222));
        background: -webkit-linear-gradient(top, #555555 0%, #222222 100%);
        background: -o-linear-gradient(top, #555555 0%, #222222 100%);
        background: -ms-linear-gradient(top, #555555 0%, #222222 100%);
        background: linear-gradient(to bottom, #555555 0%, #222222 100%);
    }

    #cssmenu #bg-four {
        bottom: 4px;
        height: 55px;
        z-index: 4;
        background: url('images/bg.png');
    }

    #cssmenu ul {
        height: 59px;
        background-color:black;
    }

        #cssmenu ul li {
            float: left;
            margin-right: 4px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            z-index: 5;
        }

            #cssmenu ul li a {
                padding: 24px 30px 20px 30px;
                margin-bottom: 4px;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                color: #eeeeee;
                font-size: 15px;
                text-decoration: none;
            }

            #cssmenu ul li:first-child,
            #cssmenu ul li:first-child > a {
                border-bottom-left-radius: 3px;
            }

            #cssmenu ul li:hover,
            #cssmenu ul li.active {
                background: #0f71ba;
                background: -moz-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3fa4f0), color-stop(100%, #0f71ba));
                background: -webkit-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
                background: -o-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
                background: -ms-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
                background: linear-gradient(to bottom, #3fa4f0 0%, #0f71ba 100%);
            }

                #cssmenu ul li a:hover,
                #cssmenu ul li.active > a {
                    background: url('images/bg.png');
                    color: #ffffff;
                