/* Bootstrap override! */

body {
    
}

h1 {
    font-family: Georgia,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1e3b87;
    font-size: 36pt;
}

h2 {
    font-family: Georgia,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #d9b574;
}

p {
    font-family: Georgia,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
    background-color: #d9b574;
    padding: 20px;
    margin: 10px;
}

.refButton {
    color: #d9b574;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

/* General Buttons */
.refButton {
    text-align:center;
    padding-left: 10px;
    margin: 20px 20px 20px 20px;
    float:left;
    display:inline-block;
    width: 130px;
    height: 40px;
    background: linear-gradient(to bottom, #4eb5e5 0%,#389ed5 100%); /* W3C */
    border: none;
    border-radius: 50px;
    position: relative;
    border-bottom: 4px solid #2b8bc6;
    color: #fbfbfb;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
    font-size: 15px;
    text-align: left;
    text-indent: 5px;
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
    cursor: pointer;
    /* Just for presentation */
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

    .refbutton:active {
        box-shadow: 0px 2px 0px 0px rgba(0,0,0,.2);
        top: 1px;
    }

    .refbutton:after {
        content: "";
        width: 0;
        height: 0;
        display: block;
        border-top: 20px solid #187dbc;
        border-bottom: 20px solid #187dbc;
        border-left: 16px solid transparent;
        border-right: 20px solid #187dbc;
        position: absolute;
        opacity: 0.6;
        right: 0;
        top: 0;
        border-radius: 0 5px 5px 0;
    }

    /* Button pointing left */

    .refbutton.back {
        text-align: right;
        padding-right: 12px;
        box-sizing: border-box;
    }

        .refbutton.back:after {
            content: "";
            width: 0;
            height: 0;
            display: block;
            border-top: 20px solid #187dbc;
            border-bottom: 20px solid #187dbc;
            border-right: 16px solid transparent;
            border-left: 20px solid #187dbc;
            position: absolute;
            opacity: 0.6;
            left: 0;
            top: 0;
            border-radius: 5px 0 0 5px;
        }

    /* Single buttons */

    .refbutton.site {
        width: 40px;
        text-align: center;
        text-indent: 0;
    }
    
        .refbutton.site:after {
            display: none;
        }





/* Presentation stuff */
.holder {
    width: 400px;
    background: #d9b574;
    padding: 30px 10px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

.refButton.h1 {
    font: 400 16px 'Open Sans';
    text-transform: uppercase;
    color: #999;
    text-shadow: 1px 1px 1px #fff;
    margin-bottom: 30px;
    text-align:center;
} 



jumbotron {
    background: url("'../Images/gold star.png'");
    background-size: 100% 100%;
}

.blue {color: #1e3b87;}

.gamePod {
    position: relative;
    border: 2px solid #1e3b87;
    box-sizing: content-box;
    padding-top:10px;
    text-transform: uppercase;
    font-family: georgia,'segoe ui', tahoma, geneva, verdana, sans-serif;
}

.gamePod_content {
    background-color: #d9b574;
    padding: 3px 3px 3px 3px;
    margin: 5px ;
    border-color: #1e3b87;
    border-width: 3px;
    display:block;
}
.gamePod_content-pod_container {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    flex-direction: row;
    flex-wrap: wrap;
    color:black;
}

.gamePod .gamePod-description {
    color: #747579;
    font-size: 10px;
    text-transform: uppercase;
}

.gamePod .gamePod-game-teams {
    display: block;
    clear: both;
    list-style-type: none;
    margin: 13px 0 2px 0;
    padding: 0;
    color:#1e3b87;
 }

.gamePod .gamePod-game-teams li .gamePod-game-team-rank {
    width: 20px;
    flex-shrink: 0;
    padding: 4px 0 0 0;
    font: 0.75rem "Geogrotesque","Rockwell",Georgia,Times,"Times New Roman",serif;
    text-align: right;
}

.gamePod .gamePod-game-teams li .gamePod-game-team-name {
    align-self: stretch;
    margin: 2px auto auto 0;
    font: 0.875rem "Geogrotesque","Rockwell",Georgia,Times,"Times New Roman",serif;
    font-size:14px;
}

.gamePod .gamePod-game-teams li .gamePod-game-team-score {
    display: none;
    align-self: flex-end;
    margin: 0 0 auto 10px;
    font: 0.875rem "Geogrotesque","Rockwell",Georgia,Times,"Times New Roman",serif;
}

.dropdown-design-guy {
    font-family: "Geogrotesque","Rockwell",Georgia,Times,"Times New Roman",serif;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 1.5rem;
    padding: 1rem;
    background-color: #FAFCFD;
    border: 2px solid transparent;
    transition: .3s ease-in-out;
    width: 50%;
    height: 75%;
    padding-bottom: 15px;
    border-color: #1e3b87;
}


/*trying a new css style*/
@import url(http://fonts.googleapis.com/css?family=Capriola);
#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    font-family: Capriola, Helvetica, sans-serif;
}

#cssmenu {
    width: auto;
    height: 59px;
    padding-bottom: 4px;
    background-color: black;
}

    #cssmenu.align-right {
        float: right;
    }

        #cssmenu.align-right ul li {
            float: right;
            margin-right: 0;
            margin-left: 4px;
        }

            #cssmenu.align-right ul li:first-child,
            #cssmenu.align-right ul li:first-child > a {
                border-bottom-right-radius: 3px;
            }

    #cssmenu #bg-one,
    #cssmenu #bg-two,
    #cssmenu #bg-three,
    #cssmenu #bg-four {
        position: absolute;
        bottom: 0;
        width: 100%;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    #cssmenu #bg-one {
        height: 10px;
        background: #0f71ba;
    }

    #cssmenu #bg-two {
        height: 59px;
        z-index: 2;
        background: url('images/bg.png');
    }

    #cssmenu #bg-three {
        bottom: 4px;
        height: 55px;
        z-index: 3;
        background: #222222;
        background: -moz-linear-gradient(top, #555555 0%, #222222 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555555), color-stop(100%, #222222));
        background: -webkit-linear-gradient(top, #555555 0%, #222222 100%);
        background: -o-linear-gradient(top, #555555 0%, #222222 100%);
        background: -ms-linear-gradient(top, #555555 0%, #222222 100%);
        background: linear-gradient(to bottom, #555555 0%, #222222 100%);
    }

    #cssmenu #bg-four {
        bottom: 4px;
        height: 55px;
        z-index: 4;
        background: url('images/bg.png');
    }

    #cssmenu ul {
        height: 59px;
        background-color:black;
    }

        #cssmenu ul li {
            float: left;
            margin-right: 4px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            z-index: 5;
        }

            #cssmenu ul li a {
                padding: 24px 30px 20px 30px;
                margin-bottom: 4px;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                color: #eeeeee;
                font-size: 15px;
                text-decoration: none;
            }

            #cssmenu ul li:first-child,
            #cssmenu ul li:first-child > a {
                border-bottom-left-radius: 3px;
            }

            #cssmenu ul li:hover,
            #cssmenu ul li.active {
                background: #0f71ba;
                background: -moz-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3fa4f0), color-stop(100%, #0f71ba));
                background: -webkit-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
                background: -o-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
                background: -ms-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
                background: linear-gradient(to bottom, #3fa4f0 0%, #0f71ba 100%);
            }

                #cssmenu ul li a:hover,
                #cssmenu ul li.active > a {
                    background: url('images/bg.png');
                    color: #ffffff;
                